<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="Index.css">
<title>Employee Management System</title>
<style>
table.t1{
border-width: 5px; 
border-style: solid;
Border-color: black;


}



</style>
</head>
<body>

<div align="center">

    <h1>Employees List</h1>
 <a th:href = "@{/showNewEmployeeForm}">ADD EMPLOYEE</a>
    <table class=t1 border=1>
    <thead>
        <tr>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Job title</th>
        <th>Modifier</th>  
        <th>Information</th>   
        </tr>
    </thead>
    <tbody>
      <tr th:each="employee : ${listEmployees}">
      <td th:text="${employee.firstName}"></td>
      <td th:text="${employee.lastName}"></td>
      <td th:text="${employee.job}"></td>
       <td><button><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}">Update</a></button>
        <button onclick="confirmer()"><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></button>
        </td>
       <td><button> <a th:href="@{/showInformations/{id}(id=${employee.id})}">Details</a></button></td>
      </tr>
    </tbody>
    </table>  
</div>
</body>
</html>